[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
psycopg2 = "*"
Django = "*"
django-extensions = "*"
django-custom-user = "*"
django-rest-swagger = "*"
djangorestframework-jwt = "*"
simpleflake = "*"
django-registration = "*"
django-model-utils = "*"
django-filter = "*"
dj-database-url = "*"
django12factor = "*"

[dev-packages]
ipython = "*"
